.cards-skeleton-container {
  display: flex;
  flex-wrap: wrap;
  border-radius: var(--border-radius);
  gap: 1em;
}


.cards-skeleton-container .card-skeleton-item {
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 1px 2px 11px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 11px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 11px -4px rgba(0, 0, 0, 0.75);
  
}


.cards-skeleton-container .card-skeleton-item .card-skeleton-image {
  display: block;
  min-height: 10.938rem;
}

/* Small devices */
@media (min-width: 975px) and (max-width: 1365px) {
  .card-skeleton-item {
    width: 290px;
    height: 270px;
  }
}

/* Large desktops and up */
@media (min-width: 1366px) {
  .cards-skeleton-container {
    gap: 2em;
  }
  .card-skeleton-item {
    width: 30%;
    height: 30vh;
  }
}

