.button {
  padding: 0.6em 1.2em;
  font-size: var(--font-size-title);
  font-family: inherit;
  background-color: white;
  color: black;
  border: 2px solid var(--primary-color-A3);
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: var(--border-radius);
}

.button:hover:not(.active) {
  background-color: var(--primary-color-A2);
}

.button.active {
  background-color: var(--primary-color-A1);
  border-color: var(--primary-color-A1);
}