.tab {
  margin-right: -0.125rem;
  /* overide button radius */
  border-radius: 0;
}

.tab-container .tab:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.tab-container .tab:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}