.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-item {
  display: flex;
}

/* Small devices */
@media (min-width: 975px) and (max-width: 1365px) {
  .card-item {
    width: 18.125rem;
    height: 16.875rem;
  }
}

/* Large desktops and up */
@media (min-width: 1366px) {
  .card-item {
    width: 30%;
    height: auto;
  }
}