.card-container {
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 2px 11px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 2px 11px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 11px -4px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-image img {
  height: auto;
  max-width: 100%;
  margin: auto;
  display: block;
}

.card-content {
  padding: 1rem;
  text-align: left;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0px;
  margin-bottom: 15px;
}

.card-tags {
  line-height: 1.5;
  margin: 0px;
}