:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: #f7f7fa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* color palette vars*/
  --primary-color-A1: #ffc700;
  --primary-color-A2: #ffeca6;
  --primary-color-A3: #ffebc1;

  --gray-A1: #70808f;
  --gray-A2: #ececec;
  --gray-A3: #f4f4f4;

  /* border radius var  */
  --border-radius: 8px;

  /* font size  */
  --font-size-title: 1rem;
  --font-size-paragraph: 0.8rem;
}

body {
  padding: 1.5em;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


.bg-blue {
  background-color: #00b1ff;
}

.bg-red {
  background-color: #ff696f
}

.bg-purple {
  background-color: #8f64ff;
}

.bg-loading {
  background: #ececec;
  background-image: linear-gradient(90deg, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  animation: shine-loading-image 2s infinite ease-out;
}

@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}